<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blurbird.mapper.BankMapper">
	
	<!-- 통장내역 전체 -->
	<select id="getBankHistoryList" resultType="org.blurbird.domain.bank.BankHistoryVO"
			parameterType="org.blurbird.domain.bank.BankSearchDTO">
		SELECT BHNO, BHDATE, SOURCE, AMOUNT, SORTNO
		, SUM(AMOUNT) OVER(ORDER BY BHDATE, BHNO) AS SUM
		, ACCOUNTNUMBER, S.BHSTATENAME "BHSTATENAME"
		, B.BANKNAME "BANKNAME", MEMO
		FROM BANKHISTORY, BHSTATE S, BANK B
		WHERE BIZNO = #{bizno} AND B.BANKNAME= #{bankname}
		AND BHDATE BETWEEN TO_DATE(#{startdate, jdbcType=VARCHAR}, 'YYYY-MM-DD') 
               AND TO_DATE(#{enddate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
		AND BANKHISTORY.BHSTATENO = S.BHSTATENO
		ORDER BY BHNO DESC
	</select>
	
	<!-- 통장내역 미연결 -->
	<select id="getBankHistoryListNone" resultType="org.blurbird.domain.bank.BankHistoryVO"
			parameterType="org.blurbird.domain.bank.BankSearchDTO">
		SELECT BHNO, BHDATE, SOURCE, AMOUNT, SORTNO
		, SUM(AMOUNT) OVER(ORDER BY BHDATE, BHNO) AS SUM
		, ACCOUNTNUMBER, S.BHSTATENAME "BHSTATENAME"
		, B.BANKNAME "BANKNAME", MEMO
		FROM BANKHISTORY, BHSTATE S, BANK B
		WHERE BIZNO = #{bizno} AND B.BANKNAME= #{bankname}
		AND BANKHISTORY.BHSTATENO='1003'
		AND BHDATE BETWEEN TO_DATE(#{startdate, jdbcType=VARCHAR}, 'YYYY-MM-DD') 
               AND TO_DATE(#{enddate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
		AND BANKHISTORY.BHSTATENO = S.BHSTATENO
		ORDER BY BHNO DESC
	</select>
	
	<!-- 통장내역 연결 -->
	<select id="getBankHistoryListConn" resultType="org.blurbird.domain.bank.BankHistoryVO"
			parameterType="org.blurbird.domain.bank.BankSearchDTO">
		SELECT BHNO, BHDATE, SOURCE, AMOUNT, SORTNO
		, SUM(AMOUNT) OVER(ORDER BY BHDATE, BHNO) AS SUM
		, ACCOUNTNUMBER, S.BHSTATENAME "BHSTATENAME"
		, B.BANKNAME "BANKNAME", MEMO
		FROM BANKHISTORY, BHSTATE S, BANK B
		WHERE BIZNO = #{bizno} AND B.BANKNAME= #{bankname}
		AND BANKHISTORY.BHSTATENO IN('1001', '1002')
		AND BHDATE BETWEEN TO_DATE(#{startdate, jdbcType=VARCHAR}, 'YYYY-MM-DD') 
               AND TO_DATE(#{enddate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
		AND BANKHISTORY.BHSTATENO = S.BHSTATENO
		ORDER BY BHNO DESC
	</select>
	
	
	<!-- 전표내역 전체조회 -->
	<select id="getBankSlipList" resultType="org.blurbird.domain.bank.BankSlipVO"
				parameterType="org.blurbird.domain.bank.BankSearchDTO">
	    SELECT BH.BHNO "BHNO", BH.SOURCE "SOURCE", S.SUMMARY "SUMMARY"
	    , A.ACCOUNTNAME "ACCOUNTNAME", BS.BHSTATENAME "BHSTATENAME"
	    , SUM(BH.AMOUNT) OVER(ORDER BY BH.BHDATE, BH.BHNO) AS SUM, S.AMOUNT "AMOUNT"
	    FROM ACCOUNT A, BANKSLIP S, BUSINESS B, BANKHISTORY BH, BHSTATE BS, BANK K
	    WHERE A.ACCOUNTNO = S.ACCOUNTNO
	    AND BH.BIZNO = B.BIZNO
	    AND BH.BHNO = S.BHNO
	    AND BS.BHSTATENO = BH.BHSTATENO
	    AND BH.BIZNO = #{bizno}
	    AND K.BANKNAME = #{bankname}
	    AND BH.BHSTATENO IN ('1001', '1002', '1004', '1005')
	    AND BH.BHDATE BETWEEN TO_DATE(#{startdate, jdbcType=VARCHAR}, 'YYYY-MM-DD') 
               AND TO_DATE(#{enddate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
	    AND ((BH.SORTNO = 1 AND S.SORTNO = 4) OR (BH.SORTNO = 2 AND S.SORTNO = 3))
	    ORDER BY BANKSLIPNO DESC
	</select>
	
	<!-- 전표내역 확정가능 or 확정 or 제외 or 삭제 -->
	<select id="getBankSlipListState" resultType="org.blurbird.domain.bank.BankSlipVO"
				parameterType="org.blurbird.domain.bank.BankSearchDTO">
	    SELECT BH.BHNO "BHNO", BH.SOURCE "SOURCE", S.SUMMARY "SUMMARY"
	    , A.ACCOUNTNAME "ACCOUNTNAME", BS.BHSTATENAME "BHSTATENAME"
	    , SUM(BH.AMOUNT) OVER(ORDER BY BH.BHDATE, BH.BHNO) AS SUM, S.AMOUNT "AMOUNT"
	    FROM ACCOUNT A, BANKSLIP S, BUSINESS B, BANKHISTORY BH, BHSTATE BS, BANK K
	    WHERE A.ACCOUNTNO = S.ACCOUNTNO
	    AND BH.BIZNO = B.BIZNO
	    AND BH.BHNO = S.BHNO
	    AND BS.BHSTATENO = BH.BHSTATENO
	    AND BH.BIZNO = #{bizno}
	    AND K.BANKNAME = #{bankname}
	    AND BH.BHSTATENO = #{bhstateno}
	    AND BH.BHDATE BETWEEN TO_DATE(#{startdate, jdbcType=VARCHAR}, 'YYYY-MM-DD') 
               AND TO_DATE(#{enddate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
	    AND ((BH.SORTNO = 1 AND S.SORTNO = 4) OR (BH.SORTNO = 2 AND S.SORTNO = 3))
	    ORDER BY BANKSLIPNO DESC
	</select>
	
	<!-- 전표 상태별 개수 조회 -->
	<select id="allSlipCount" resultType="int">
		SELECT COUNT(*) FROM BANKHISTORY WHERE BHSTATENO != '1003'
	</select>
	
	<select id="canSlipCount" resultType="int">
		SELECT COUNT(*) FROM BANKHISTORY WHERE BHSTATENO='1001'
	</select>
	
	<select id="confirmSlipCount" resultType="int">
		SELECT COUNT(*) FROM BANKHISTORY WHERE BHSTATENO='1002'
	</select>
	
	<select id="exceptSlipCount" resultType="int">
		SELECT COUNT(*) FROM BANKHISTORY WHERE BHSTATENO='1004'
	</select>
	
	<select id="removeSlipCount" resultType="int">
		SELECT COUNT(*) FROM BANKHISTORY WHERE BHSTATENO='1005'
	</select>
	
	<!-- 예상잔액, 차액 -->
	<select id="getTotalSum" resultType="org.blurbird.domain.bank.TotalDTO">
		SELECT T.SUM "TOTALSUM", D.SUM "DIFFSUM"
		FROM VIEW_TOTALSUM T, VIEW_DIFFSUM D
	</select>
	
	<!-- 전표 삭제 -->
	<delete id="removeSlip" parameterType="String">
		DELETE FROM BANKSLIP WHERE BHNO=#{bhno}
	</delete>

	<!-- 분개내역 조회 -->
	<select id="getDetailSlip" parameterType="String" resultType="org.blurbird.domain.bank.DetailSlipVO">
		SELECT BS.BANKSLIPNO "BANKSLIPNO", BS.BHNO "BHNO", S.SORTNO "SORTNO"
		, S.SORTNAME "SORTNAME"
		, A.ACCOUNTNO "ACCOUNTNO", A.ACCOUNTNAME "ACCOUNTNAME"
		, BH.AMOUNT "AMOUNT", BH.SOURCE "SOURCE", BS.SUMMARY "SUMMARY"
		FROM BANKHISTORY BH, BANKSLIP BS, SORT S, ACCOUNT A
		WHERE BH.BHNO = BS.BHNO
		AND BS.SORTNO = S.SORTNO
		AND A.ACCOUNTNO = BS.ACCOUNTNO
		AND BH.BHNO = #{bhno}
	</select>

	<!-- 분개내역 등록 -->
	<insert id="registerSlip" parameterType="org.blurbird.domain.bank.DetailSlipVO">
		INSERT INTO BANKSLIP VALUES(SEQ_BANKSLIP.NEXTVAL
		, #{bhno}, ${sortno}, #{accountno}, #{amount}, #{summary})
	</insert>
	
	<!-- 분개내역 수정 -->
	<update id="modifySlip" parameterType="org.blurbird.domain.bank.DetailSlipVO">
		UPDATE BANKSLIP SET SORTNO=#{sortno}
		, AMOUNT=#{amount}, SUMMARY=#{summary}
		WHERE BANKSLIPNO = #{bankslipno}
		<!-- , ACCOUNTNO=#{accountno} -->
	</update>



</mapper>