<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blurbird.mapper.CommonMapper">

	<!-- 기업 조회 -->
	<select id="getBusinessList" resultType="org.blurbird.domain.common.BusinessVO" 
							parameterType="string">
		SELECT BIZNO, BIZNAME, BUSINESSLICENSE, BIZADDRESS, BISTEL, INDUSTRY
		FROM BUSINESS
		<if test="value != null and value != ''">
        	<where>
            BIZNAME LIKE '%'||#{value}||'%'
            </where>
        </if>
	</select>
	
	<!-- 로그인 한 사용자 정보 -->
	<resultMap type="org.blurbird.domain.common.UsersVO" id="userMap">
		<id property="memberid" column="memberid"></id>
		<result property="memberid" column="memberid"></result>
		<result property="password" column="password"></result>
		<result property="membername" column="membername"></result>
		<result property="bizno" column="bizno"></result>
		<result property="bizname" column="bizname"></result>
		<result property="authno" column="authno"></result>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="org.blurbird.domain.common.AuthVO" id="authMap">
		<result property="memberid" column="memberid"></result>
		<result property="authname" column="authname"></result>
	</resultMap>
	<select id="readUser" resultMap="userMap">
		select m.memberid "memberid", m.password "password", m.membername "membername"
		, u.bizno "bizno", b.bizname "bizname", u.authno "authno", a.authname "authname"
		from users u, member m, authority a, business b
		where u.memberno = m.memberno
		and a.authno = u.authno
		and b.bizno = u.bizno
		and memberid=#{memberid}
	</select>
	
	
	<!-- <select id="autosearch" parameterType="map" resultType="map">
		SELECT BIZNO, BIZNAME, BUSINESSLICENSE, BIZADDRESS, BISTEL, INDUSTRY
		FROM BUSINESS
		<if test="bizname != null and bizname != ''">
        	<where>
            BIZNAME LIKE '%'||#{bizname}||'%'
            </where>
        </if>
	</select>
	
	
	<select id="getBusinessName" resultType="String">
		SELECT BIZNAME FROM BUSINESS
        <if test="bizname != null and bizname != ''">
        	<where>
            BIZNAME LIKE '%'||#{bizname}||'%'
            </where>
        </if>
	</select> -->
	

</mapper>