<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blurbird.mapper.ReceiptMapper">

	<select id="getAccountName"
		resultType="org.blurbird.domain.receipt.AccountVO">
		select * from account where accountno=#{accountNo}
	</select>

	<select id="getAccountList"
		resultType="org.blurbird.domain.receipt.AccountVO">
	<![CDATA[
	select * 
	from account
	where accountno > 0
	order by accountno
	]]>
	</select>

	<select id="getReceiptList"
		resultType="org.blurbird.domain.receipt.ReceiptRequestVO">
	<![CDATA[
	select * 
	from receiptrequest
	where reqdate between  #{startDate} and #{endDate}
	and userno=1
	]]>
	</select>

	<select id="judgeReceipt" resultType="org.blurbird.domain.receipt.ReceiptRequestVO">
		<![CDATA[
		select *
		from receiptrequest
		where recreqno = #{recreqno}
		]]>
	</select>
	
	<select id="getImgResource" resultType="String">
		<![CDATA[
		select receiptpath
		from receiptrequest
		where recreqno = #{recreqno}
		]]>
	</select>

	<insert id="uploadReceipt">
		insert into receiptrequest
		(recreqno,userno,reqdate,purpose,receiptpath)
		VALUES
		(seq_recreqno.nextval,'1',TO_DATE(sysdate,'YY/MM/DD'),#{purpose},#{receiptpath})
	</insert>

	<insert id="confirmedReceipt">
		insert into confirmed(confirmedno,recreqno,regdate)
		VALUES(SEQ_CONFIRMEDNO.nextval,#{recreqno},TO_DATE(sysdate,'YY/MM/DD'))
	</insert>
	
	<insert id="unconfirmedReceipt">
		insert into unconfirmedreason(ucrno,recreqno,contents)
		VALUES(seq_ucrno.nextval,#{recreqno},#{contents})
	</insert>
	
	<insert id="cashslipConfirmed">
	insert into cashslip(cashslipno,confirmedno,accountno,sortno,amount,summary)
	VALUES(SEQ_CASHSLIPNO.nextval,#{confirmedno},#{accountno},3,#{amount},#{summary})
	</insert>
	
</mapper>